:root {
    font-family: "Roboto", "Open Sans", "sans-serif";

    --warm: #FFFAF1;
    --cool: #F0F0F0;
    --cool-dark: color-mix(in srgb, var(--cool) 96%, #000 4%);
    --content-width: 80dvw;
    --dark: #000000;
    
    /** Material UI */
    --md-ref-typeface-brand: "Roboto";
    --md-ref-typeface-plain: "Roboto";

    @media only screen and (max-width: 80rem) {
        --content-width: 92dvw;
    }
}

body {
    margin: 0;
}

#main {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    color: var(--dark);
    background-color: var(--warm);
}

.header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: var(--content-width);
    padding: 1rem;

    flex: 1;

    @media only screen and (max-width: 80rem) {
        padding: 1rem 0;
    }
}

#messages {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 4rem;
}

@keyframes message-open {
    from {
        translate: -100%;
        opacity: 0;
    }

    to {
        translate: 0;
        opacity: 1;
    }
}

.message {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2rem 1rem;
    background-color: var(--cool);
    border-radius: 0.5rem;
}

.message-new {
    animation: message-open 0.5s;
}

.input-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: var(--content-width);
}

.message-input {
    width: 64%;
}

md-outlined-text-field {
    background-color: var(--cool);
}

md-outlined-text-field:focus {
    background-color: var(--cool-dark);
}
