<!DOCTYPE html>
<html>
    <head>
        <title>JDP Chat Application</title>
        <!-- Load HTMX 2.0.0 -->
        <script src="static/htmx.min.js"></script>
        <!-- HTMX Websockets -->
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
        <!-- Load custom scripts -->
        <script src="static/script.js"></script>
        
        <!-- Styles -->
        <link rel="stylesheet" href="static/style.css">

        <!-- Material UI -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <!-- TODO: Download these locally -->
        <script type="importmap">
            {
                "imports": {
                    "@material/web/": "https://esm.run/@material/web/"
                }
            }
        </script>
        <script type="module">
            import "@material/web/all.js"; // Replace this with individual imports later
            import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";

            document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
        </script>

    </head>

    <body 
        {% if has_session_id %}
            hx-headers='{"session_id": "{{ session_id }}"}'
        {% endif %}
    >
        <main id="main">
            <header class="header">
                <h1>JDP Chat For Cool Gamers Who Are Also Epic</h1>
                {% if is_logged_in %}
                    <h3>Welcome, {{ user_name }}</h3>
                {% endif %}
            </header>

            <section class="content">
                <section id="messages" hx-get="/message/" hx-swap="innerHTML" hx-swap-oob="beforeend" hx-trigger="load"></section>

                <section class="input-container">
                    <md-outlined-text-field
                        type="text"
                        name="message"
                        class="message-input"
                        hx-post="/create-message/"
                        hx-target="#message-result"
                        hx-swap="innerHTML"
                        hx-swap-oob="beforeend"
                        hx-trigger="keyup[key === 'Enter']"
                        hx-on:htmx:before-request="handleInputSubmissionStart(event)"
                        hx-on:htmx:after-request="handleInputSubmissionFinished(event)"
                        pattern=".{1,}"
                    ></md-outlined-text-field>
                    <p>Press enter to post a message!</p>
                    <div id="message-result"></div>
                </section>
                <div
                    hx-ext="ws"
                    ws-connect="ws://0.0.0.0:8001"
                    hx-trigger="load"
                    hx-target=""
                ></div>
                {% if !is_logged_in %}
                    <section>
                        Join in!
                        {% include "login.html" %}
                    </section>
                {% endif %}
            </section>

        </main>
    </body>
</html>
