<!DOCTYPE html>
<html>
    <head>
        <title>JDP Chat Application</title>
        <!-- Load HTMX 2.0.0 -->
        <script src="static/htmx.min.js"></script>
        <!-- HTMX Websockets -->
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
        <!-- Load custom scripts -->
        <script src="static/script.js"></script>
        
        <!-- Styles -->
        <link rel="stylesheet" href="static/style.css">

        <!-- Material UI -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <!-- TODO: Download these locally -->
        <script type="importmap">
            {
                "imports": {
                    "@material/web/": "https://esm.run/@material/web/"
                }
            }
        </script>
        <script type="module">
            import "@material/web/all.js"; // Replace this with individual imports later
            import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";

            document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
        </script>

    </head>

    <body>
        <main id="main">
            <header id="header" class="header">
                {% include "header.html" %}
            </header>
            <section class="content">
                <section id="messages" hx-get="/message/" hx-swap="innerHTML" hx-swap-oob="beforeend" hx-trigger="load"></section>
                <section id="messaging" class="input-container">
                    {% include "message_input.html" %}
                </section>
                {% if !is_logged_in %}
                    {% include "login.html" %}
                {% endif %}
                <div
                    hx-ext="ws"
                    ws-connect="ws://0.0.0.0:8001"
                    hx-trigger="load"
                    hx-target=""
                ></div>
            </section>
        </main>
    </body>
</html>
