{% if is_logged_in %}
    <p>Press enter to post a message!</p>
{% endif %}
<md-outlined-text-field
    type="text"
    name="message"
    class="message-input"
    hx-post="/create-message/"
    hx-target="#message-result"
    hx-swap="innerHTML"
    hx-swap-oob="beforeend"
    hx-trigger="keyup[key === 'Enter']"
    hx-on:htmx:after-request="event.target.value = '';"
    pattern=".{1,}"
    {% if !is_logged_in %}
        disabled
        placeholder="Sign in to join in..."
    {% endif %}
></md-outlined-text-field>
<div id="message-result"></div>
