{% if message %}
    <section id="messages" hx-swap-oob="beforeend">
        <div class="message message-new">
            {{ message }}
        </div>
    </section>
{% endif %}

{% if error %}
    <div>{{ error }}</div>
{% endif %}
